
#adminArea{
    height: 100vh ;
    max-height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.popup{
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    button{
        padding: 10px 20px;
        margin:  10px;
        // border: none;
        cursor: pointer;
    }
}
