*{
    box-sizing: border-box;
}
#weeklyCalendar::-webkit-scrollbar {
    display: none;
}
#weeklyCalendar{
    box-sizing: content-box;
    width: 100%;
    max-height: 100vh;
    min-height: 100%;
    background-color: #323333;
    // display: flex;
    // flex-direction: row;
    overflow-y: auto;
    position: relative;
    user-select: none;


    .day{
        width: 100%;
        min-height: 100%;
        border: 1px solid black;
    }
    .today{
        background-color: rgba(0, 60, 255, 0.09);
    }

    .record-container{
        height: 100%;
        // background-color: #93748A;
        padding: 5px;
        position: relative;
    }


    .record.in-air{
        all: none;
        border: 3px dashed black;
        // transform: translate(0, 0);
        opacity: 0.1;
        // display: none;
        // visibility: collapse;
        // border-radius: 20px;
        // background: none !important;

    }

    .record.record.in-air .tooltip{
        display: none;
    }
    .record.pending{
        background-color: silver;
    }
    .record.completed{
        background-color: rgb(0, 255, 0);
    }
    .record.in-process{
        background-color: rgb(255, 255, 0);
    }
    
    .record{
        border-radius: 5px;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgb(231, 225, 225);
        // margin: 4px 2px;
        text-align: left;       
        user-select: none;
        cursor: pointer;
        padding: 3px 2px;
        position: relative;
        transition: 0.0s;
        // top:50%;
        // left:50%;
        // transform: translate(-50%, -50%);


        span{
            padding: 1px 4px;
            display: block;
        }
    }
    .record:hover::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        // z-index: 9999;
        background-color: rgba(253, 253, 253, 0);
    }
    .tooltip{
        display: none;
        position: absolute;
        top:50%;
        transform: translate(-100%, -50%);
        background-color: black;
        color: white;
        padding: 5px 8px;
        border-radius: 12px;

    }

    .record:hover .tooltip{
        display: block;
    }
    .status-type-list:hover + .tooltip{
        display: none;
    }
    .status-type-list{
        position: absolute;
        background-color: rgb(255, 254, 254);
        list-style: none;
        top:0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;
        li{
            flex-grow: 1;
            text-align: center;
            margin: 3px;
            border:1px solid #ddd;
            width: 100%;
            padding: 2px 4px;
            border-radius: 12px;
            transition: .4s, background-position 0s;
            // background: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
            background: linear-gradient(#93748A 0 0) var(--p, 0) / var(--p, 0) no-repeat;

        }
        li:hover{
            --p: 100%;
            color: #fff;
        }
        .delete-record-btn{
            background: linear-gradient(red 0 0) var(--p, 0) / var(--p, 0) no-repeat;
        }
    }

    .record#view .tooltip{
        display: none;
    }


 
    table{
        height: 100%;
        min-height: 100vh;
        width: 100%;
        padding: 0;
        border-collapse: collapse;
        position: relative;
        table-layout: fixed ;
        tr:first-child{
            height: 3rem;
            // padding: 50px;
        }
        tr{
            height: 160px;
            min-height: 200px;
            border: none;
            padding: 0;
            // height: 4rem;
            position: relative;
        }
        th:first-child{
            width: 100px;
        }
        td:first-child{
            width: 100px;
        }
        tr:first-child{
            position: sticky;
            top:0;
            z-index: 9;
        }

        td{
            border-right: 1px solid rgba(221, 221, 221, 0.451);
            border-bottom: 1px solid rgba(221, 221, 221, 0.451);
            vertical-align: top;
            position: relative;
            height:100%;
            min-height: 200px;
            padding: 0;
        }
    
        th{
            background-color: #93748A;
            height: fit-content;
            color: whitesmoke;
            border-right: 1px solid #ddd;
            font-weight: bold;;
            font-size: 1.1rem;
    
        }

        .time-td{
            text-align: left;
            min-width:50px ;
            span{
                color: whitesmoke;
                position: absolute;
                display: inline-block;
                width: fit-content;
                padding: 0 5px 0 20px;
                transform: translateY(-50%);
                background-color: #323333;
            }
        }
        .selected{
            background-color: rgba(250, 235, 215, 0.576);
        }
    }

    #msg{
        position: fixed;
        left:0;
        bottom: 0;
        min-width:300px;
        background-color: rgba(5, 224, 5, 0.942);
        margin: 10px ;
        padding: 10px 20px;
        border-radius: 15px;
        animation: disappear 3s ease-in;
        
    }

    @keyframes disappear {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            display: none;
        }
    }

    .add-popup{
        background-color: whitesmoke;
        position: fixed;
        border-radius: 20px;
        padding: 30px 40px;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        
    }

    
}
#panel{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    button{
        margin: 7px 20px;
        padding: 7px;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    #info{
        color: white;
        font-size: 1.3rem;
        background-color: rgb(22, 22, 61);
        padding: 5px 12px;
        border-radius: 50%;
        cursor: help;
        position: relative;
        span{
            display: none;
            position: fixed;
            z-index:99 ;
            top:100px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(22, 22, 61);
            padding: 25px 35px;
        }
    }
    #info:hover span{
        display: block;
    }

}

